@import '_variables';

.h{
    margin: 0;
    padding: $space $space;
    font-style: Poppins, SemiBold;  
    text-align: center;
    color: $black;
}
.boxes-cont {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.box{
    width: auto;
    overflow: hidden;
    margin: 0.5*$space;
}

.img {
    overflow: hidden;
    width: 100%;
    height: auto;
}

.box-header{
    text-align: center;
   // padding-top: .5*$space;
    //padding-right: 2* $space;
    //padding-left: 2.5* $space;
    padding-bottom: $space;
}

.box-text{
    text-align: center;
    padding-bottom: $space;
}

.sign{
    display: flex;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: - $padding-space;
        left: 0;
        right: 0;
        height: 1px;
        background: $gray;
    }
    .date {
        padding-left: $padding-space;
    }
}

.linia{
    width: 100%;
}