.tweet {
    display: flex;
    justify-content: center;
    &__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: 255px;
        width: 100%;
        margin-top: 2*$space;
        padding: $space;
        background:url(http://via.placeholder.com/1366x255);
        background-size: cover;
    }
    &__title {
        padding-top: 89px;
        text-align: left;
        max-width: 30%;
        font-size: 20px;
        font-weight: 400;
        font-family: Roboto Slab, Light;

    }
    &__text {
        padding-top: $padding-space;
        padding-bottom: 2*$padding-space;
        text-align: left;
        max-width:30%;
        font-size: 16px;
        font-weight: 600;
        font-family: Poppins, SemiBold;
}
}