<header class="header">
    <nav class="social__header">
        <ul class="social__nav">
            <li><a>Twitter</a></li>
            <li><a>LinkedIn</a></li>
        </ul>
    </nav>
    <span class="nav__brand"><a><strong>DeadEnd</strong><p>development</p></a></span>
    <nav>
        <ul class="nav__header">
            <li class="nav-item"><a href="#" class="nav-link">Skill testing</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Training</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Create your own</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
            <li class="nav-item"><a href="#" class="nav-link">News</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
        </ul>
    </nav>
</header>