<div>
    <h1 class="h">News&Highlights</h1>
</div>
    <div class='boxes-cont'>
         <div class='box'>
            <div class='img'>
                <img src='/img/1.jpg' alt='Ludzie przy stole'/>
            </div>
            <h2 class='box-header'>Lorem ipsum dolor sit amet,<br>consectetur addipiscing elit</h2>
            <p class='box-text'> Ut enim ad minim veniam, quis nostrud exercitation ullamco<br> laboris nisi ut aliquip<br> ex ea commodo consequat.</p>
            <div class="sign">
                <p class="author">Autor:<span class="org">DeadEnd Development</span></p>
                <p class="date">Date:<time datetime="2018-06-23">18 May 2017</time> </p>
            </div>
        
    </div>
        <div class='box'>
            <div class='img'>
                <img src='/img/2.jpg' alt='Chłopak w ciemności'/>
            </div>
            <h2 class='box-header'>Lorem ipsum dolor sit amet,<br>consectetur addipiscing elit</h2>
            <p class='box-text'> Ut enim ad minim veniam, quis nostrud exercitation ullamco <br>laboris nisi ut aliquip<br> ex ea commodo consequat.</p>
            <div class="sign">
                <p class="author">Autor:<span class="org"> DeadEnd Development</span></p>
                <p class="date">Date:<time datetime="2018-06-23"> 18 May 2017</time></p>
            </div>
         
        </div>
        <div class='box'>
            <div class='img'>
                    <img src='/img/3.jpg' alt='Ludzie i lapropy'/>
            </div>
                <h2 class='box-header'>Lorem ipsum dolor sit amet,<br>consectetur addipiscing elit</h2>
                <p class='box-text'> Ut enim ad minim veniam, quis nostrud exercitation ullamco<br> laboris nisi ut aliquip<br> ex ea commodo consequat.</p></div>

            <div class="sign">
            
            <p class="author">Autor:<span class="org"> DeadEnd Development</span></p>
            <p class="date">Date:<time datetime="2018-06-23"> 18 May 2017</time></p>
        </div>
            

        

</div>